@{
    ViewBag.Title = "Dentiste";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-lg-9 main-chart">
        <!--CUSTOM CHART START -->
        <div class="border-head">
            <h3>Bienvenue sur Votre Espace Admin</h3>
        </div>
        <div>
            ahlan ahlan ahalan
        </div>
    </div>
</div>
